@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
}

:root.dark {
  --color-primary-bg: #212121;
  --color-secondary-bg: #000000;
  --color-primary-fg: #B0BEC5;
  --color-primary-text: #eeffff;
  --color-secondary-text: #eeffff;
  --icon-filter: invert(100%);
  --color-inactive: #474747;
  --color-active: #80cbc4;
  --color-scroll-active: var(--color-primary-fg);
  --color-scroll-inactive: rgba(176, 190, 197, 0.7);
  --color-shadow: rgb(54, 54, 54);
}

:root.light {
  --color-primary-bg: #FAFAFA;
  --color-secondary-bg: #B0BEC5;
  --color-primary-fg: #546E7A;
  --color-primary-text: #272727;
  --color-secondary-text: #000000;
  --icon-filter: invert(0%);
  --color-inactive: #D2D4D5;
  --color-active: #39ADB5;
  --color-scroll-active: var(--color-primary-fg);
  --color-scroll-inactive: rgba(84, 110, 122, 0.7);
  --color-shadow: rgb(184, 184, 184);
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.1rem solid var(--color-primary-fg);
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  display: flex;
}

a { 
  color: inherit; 
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-active);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-inactive);
  border-radius: 5rem;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-inactive);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-active);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-active);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
