@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root.dark {
  --color-primary-bg: #212121;
  --color-secondary-bg: #000000;
  --color-primary-fg: #B0BEC5;
  --color-primary-text: #eeffff;
  --color-secondary-text: #eeffff;
  --icon-filter: invert(100%);
  --color-inactive: #474747;
  --color-active: #80cbc4;
  --color-scroll-active: var(--color-primary-fg);
  --color-scroll-inactive: rgba(176, 190, 197, 0.7);
  --color-shadow: rgb(54, 54, 54);
}

:root.light {
  --color-primary-bg: #FAFAFA;
  --color-secondary-bg: #B0BEC5;
  --color-primary-fg: #546E7A;
  --color-primary-text: #272727;
  --color-secondary-text: #000000;
  --icon-filter: invert(0%);
  --color-inactive: #D2D4D5;
  --color-active: #39ADB5;
  --color-scroll-active: var(--color-primary-fg);
  --color-scroll-inactive: rgba(84, 110, 122, 0.7);
  --color-shadow: rgb(184, 184, 184);
}

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.1rem solid var(--color-primary-fg);
  background-color: var(--color-secondary-bg);
  color: var(--color-secondary-text);
  justify-content: center;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  display: flex;
}

a { 
  color: inherit; 
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-active);
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-inactive);
  border-radius: 5rem;
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-inactive);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-active);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--color-active);;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Icon */

.icon {
  width: 2rem;
}

.header-button,
.form-button,
.weather-button {
  border: none;
  background-color: var(--color-primary-bg);
}

.header-button       > p,
.form-button         > p,
.weather-button      > p {
  font-weight: bold;
  color: var(--color-primary-text);
}

.header-button       > img,
.form-button         > img,
.weather-button      > img  {
  filter: var(--icon-filter) drop-shadow(1px 2px 0 var(--color-shadow));
}

.grid-header-icon,
.grid-wind-direction {
  border: none;
  background-color: var(--color-secondary-bg);
}

.grid-header-icon    > img,
.grid-wind-direction > img  {
  filter: var(--icon-filter);
}

.header-button:enabled       > p,
.form-button:enabled         > p,
.weather-button:enabled      > p {
  filter: brightness(90%);
}

.header-button:hover:enabled       > img,
.form-button:hover:enabled         > img,
.weather-button:hover:enabled      > img  {
  filter: var(--icon-filter) brightness(90%) drop-shadow(1px 2px 0 var(--color-shadow));
}

.header-button:active:enabled       > p,
.form-button:active:enabled         > p,
.weather-button:active:enabled      > p  {
  transform: translateY(4px) translateX(2px);
  filter: brightness(90%);
}

.header-button:active:enabled       > img,
.form-button:active:enabled         > img,
.weather-button:active:enabled      > img {
  transform: translateY(4px) translateX(2px);
  filter: var(--icon-filter) brightness(90%) drop-shadow(1px 1px 0 var(--color-shadow));
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

header > :first-child {
  margin-right: auto;
}

header > :last-child {
  margin-left: auto;
}

/* Search box weather */

.main-search-weather {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.unit-button {
  width: 70px;
}

.unit-button > p {
  margin: 0.1rem;
  font-weight: 700;
}

#searchBarID {
  border-radius: 0.5rem;
  border-width: 0.1rem;
}

/* Grid weather information */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-weather-grid {
  background-color: var(--color-secondary-bg);
  border: 0.2rem solid var(--color-primary-fg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  width: 650px;
}

.main-location {
  font-size: xx-large;
}

.main-current-time {
  font-size: x-large;
}

.main-weather-name {
  font-size: large;
  font-weight: 600;
}

.main-weather {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.main-weather-info-grid-primary {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.main-weather-info-grid-secondary {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.grid-header {
  font-size: large;
  font-weight: 600;
}

.grid-wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.main-temperature-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.main-temperature-container > p:first-of-type {
  font-size: x-large;
  font-weight: 700;
}

.main-temperature-max {
  font-size: large;
  color: red;
}

.main-temperature-min {
  font-size: large;
  color: blue;
}

.main-temperature-feels {
  font-size: large;
}

/* Error code */

.form-error {
  background-color: var(--color-secondary-bg);
  border: 0.2rem solid var(--color-primary-fg);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem;
  width: 650px;
  font-size: x-large;
  font-weight: 600;
}
